BASE_URL=https://dev.menu.starbucks.co.jp
BROWSER_CHANNEL=chrome
HEADLESS=true
IGNORE_HTTPS_ERRORS=false
CROSS_BROWSER=false
TEST_TIMEOUT_MS=60000
EXPECT_TIMEOUT_MS=10000
ACTION_TIMEOUT_MS=15000
NAVIGATION_TIMEOUT_MS=30000
